h1 {
  text-align: center;
  padding: 10px;
}

h4 {
  text-align: center;
}

div#loading {
  width: 100px;
  height: 100px;
  margin: auto;
  display: none;
  background: url(/static/loadingimage.gif) no-repeat;
  cursor: wait;
}

.center {
  max-width: 500px;
  margin: auto;
  padding-top: 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  background-color: white;
}

