<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/style.css">
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Spotify Playlist Generator</title>
  </head>
  <body>
    <div>
    <div class="center">
        <h1> Create a New Playlist </h1>

    <div id="loading" ></div>

    <script>
        function loading(){
            var loading = document.getElementById("loading");
            var content = document.getElementById("content");
            content.style.display = "none"     
            loading.style.display = "block" 
        }
    </script>

    <div id="content">
        <form method="post">
        <div class="form-group">
            <label for="artist">Artist</label>
            <input type="text" name="artist"
                placeholder="Artist name" class="form-control"
                value="{{ request.form['artist'] }}"></input>
        </div>

        <div class="form-group">
            <label for="playlist-name">Playlist Name</label>
            <input type="text" name="playlist-name" placeholder="E.g. Hail fulanito/a"
                    class="form-control">{{ request.form['playlist-name'] }}</input>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" placeholder="E.g. My favorite songs by fulanito/a'"
                    class="form-control">{{ request.form['description'] }}</textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" onclick="loading()">Submit</button>
        </div>
    </form>
    </div>
    </div>
</div>
    <footer>
        <p>Made with &hearts; by Zuleinis Ramos<br>
        <a href="https://github.com/zuleinis/playlist-generator" target="_blank">GitHub Repository</a></p>
    </footer>

    </body>
</html>
